.gradle/
*/*.iml
.gradle
.idea
adapter/build/
app/build/
base/build/
compat/build/
glide/build/
http/build/
locale/build/
mvp/build/
mvvm/build/
ui/build/
utils/build/
web/build/
zbar/build/
glide/.externalNativeBuild/
zbar/.externalNativeBuild/
pay/build/
skin/build/
